/* Contenedor principal que envuelve el título principal y el contenedor de las cards */
.main-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; /* Centra el contenido de texto */
  margin-bottom: 40px; /* Espacio entre el contenedor de cards y cualquier contenido siguiente */
}

/* Estilos para el título principal */
.header {
  margin-bottom: 30px; /* Espacio inferior para separar del contenedor de cards */
}

/* Título principal */
.main-title {
  padding-top: 30px;
  font-size: 30px; /* Tamaño de fuente grande para el título principal */
  margin: 0; /* Sin margen para ajustar la separación */
}

/* Contenedor principal de las cards */
.card-container,
.card-container2,
.card-container3 {
  background-color: #212529;
  padding: 20px;
  display: flex; /* Usa Flexbox para organizar los elementos */
  flex-direction: column; /* Organiza los elementos verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  border-radius: 20px; /* Bordes redondeados para el contenedor de las cards */
  max-width: 1300px; /* Ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-bottom: 100px; /* Espacio inferior para separar contenedores */
}

/* Estilos para el subtítulo dentro del contenedor de las cards */
.sub-title {
  font-size: 25px; /* Tamaño de fuente para el subtítulo */
  color: white; /* Color blanco para el subtítulo */
  margin-bottom: 20px; /* Espacio inferior para separar del contenedor de cards */
}

/* Contenedor que envuelve las cards dentro del contenedor de cards */
.card-grid {
  display: grid; /* Usa Grid Layout para organizar las cards */
  grid-template-columns: repeat(3, 1fr); /* Tres columnas, cada una ocupando un tercio del ancho del contenedor */
  gap: 20px; /* Espacio entre las cards */
  padding: 20px; /* Espacio interno alrededor del contenedor de las cards */
  max-width: 100%; /* Ancho máximo para el contenedor de las cards */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos individuales para cada card */
.card {
  background-color: #FFC107; /* Color de fondo amarillo para las cards */
  border-radius: 8px; /* Bordes redondeados para darle un aspecto suave */
  padding: 15px; /* Espaciado interno para el contenido dentro de la card */
  text-align: center; /* Centra el texto y otros contenidos dentro de la card */
  width: 400px; /* Ancho de la card ajustado al contenedor */
  height: 450px; /* Altura fija reducida para las cards */
  display: flex; /* Usa Flexbox para alinear el contenido verticalmente */
  flex-direction: column; /* Organiza los elementos verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  box-sizing: border-box; /* Incluye el padding y los bordes en el ancho total */
}


/* Contenedor de imagen dentro de la card */
.card-image-container {
  height: 70%; /* Altura fija para el contenedor de la imagen */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
  border-radius: 8px 8px 8px 8px; /* Bordes superiores redondeados para coincidir con la card */
}

/* Estilos para la imagen en la parte superior de la card */
.card-image {
  width: 100%; /* Ancho de la imagen igual al ancho del contenedor */
  height: 100%; /* Altura de la imagen igual a la altura del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
}

/* Estilos para el título de cada card */
.card-title {
  color: white;
  font-size: 22px; /* Tamaño de fuente para el título */
  margin-top: 10px; /* Espaciado superior e inferior para separar el título de la imagen y el párrafo */
  margin-bottom: 5px;

}

/* Estilos para el párrafo de cada card */
.card-text {
  font-size:  20px; /* Tamaño de fuente para el texto del párrafo */
  color: black; /* Color gris oscuro para el texto */
  margin-top: 0; /* Sin margen superior */
  padding: 0; /* Sin padding */
}

/*Vista para tablet*/
@media (max-width: 1000px) {

  /* Título principal */
.main-title {
  padding-top: 30px;
  font-size:20px; /* Tamaño de fuente grande para el título principal */
  margin: 0; /* Sin margen para ajustar la separación */
}
/* Estilos para el subtítulo dentro del contenedor de las cards */
.sub-title {
  font-size: 18px; /* Tamaño de fuente para el subtítulo */
  color: white; /* Color blanco para el subtítulo */
  margin: 15px; /* Espacio inferior para separar del contenedor de cards */
}
/* Contenedor que envuelve las cards dentro del contenedor de cards */
.card-grid {
  display: grid; /* Usa Grid Layout para organizar las cards */
  grid-template-columns: repeat(3, 1fr); /* 3 columnas, cada una ocupando un tercio del ancho del contenedor */
  gap: 10px; /* Espacio entre las cards */
  padding: 20px; /* Espacio interno alrededor del contenedor de las cards */
  max-width: 100%; /* Ancho máximo para el contenedor de las cards */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}
/* Estilos para el título de cada card */
.card-title {
  color: white;
  font-size: 17px; /* Tamaño de fuente para el título */
  margin-top: 10px; /* Espaciado superior e inferior para separar el título de la imagen y el párrafo */
  margin-bottom: 5px;

}

/* Estilos para el párrafo de cada card */
.card-text {
  font-size:  16px; /* Tamaño de fuente para el texto del párrafo */
  color: black; /* Color gris oscuro para el texto */
  margin-top: 0; /* Sin margen superior */
  padding: 0; /* Sin padding */
}

/* Estilos individuales para cada card */
.card {
  background-color: #FFC107; /* Color de fondo amarillo para las cards */
  border-radius: 8px; /* Bordes redondeados para darle un aspecto suave */
  padding: 15px; /* Espaciado interno para el contenido dentro de la card */
  text-align: center; /* Centra el texto y otros contenidos dentro de la card */
  width: 200px; /* Ancho máximo para cada card */
  height: 300px; /* Altura fija reducida para las cards */
  display: flex; /* Usa Flexbox para alinear el contenido verticalmente */
  flex-direction: column; /* Organiza los elementos verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  box-sizing: border-box; /* Incluye el padding y los bordes en el ancho total */
}

/* Contenedor principal de las cards */
.card-container,
.card-container2,
.card-container3 {
 margin: 35px;
 max-width: 100%;
}
}


/*Vista para celular*/
@media (max-width: 600px) {

  /* Título principal */
.main-title {
  padding-top: 30px;
  font-size:16px; /* Tamaño de fuente grande para el título principal */
  margin: 0; /* Sin margen para ajustar la separación */
}
/* Estilos para el subtítulo dentro del contenedor de las cards */
.sub-title {
  font-size: 15px; /* Tamaño de fuente para el subtítulo */
  color: white; /* Color blanco para el subtítulo */
  margin: 8px; /* Espacio inferior para separar del contenedor de cards */
}
/* Contenedor que envuelve las cards dentro del contenedor de cards */
.card-grid {
  display: grid; /* Usa Grid Layout para organizar las cards */
  grid-template-columns: repeat(2, 1fr); /* dos columnas, cada una ocupando un medio del ancho del contenedor */
  gap: 10px; /* Espacio entre las cards */
  padding: 5px; /* Espacio interno alrededor del contenedor de las cards */
  max-width: 100%; /* Ancho máximo para el contenedor de las cards */
  margin: 5px; /* Centra el contenedor horizontalmente */
  margin-right: 20px;/*centra el contenedor a la derecha*/
}
/* Estilos para el título de cada card */
.card-title {
  color: white;
  font-size: 14px; /* Tamaño de fuente para el título */
  margin-top: 5px; /* Espaciado superior e inferior para separar el título de la imagen y el párrafo */
  margin-bottom: 5px;

}

/* Estilos para el párrafo de cada card */
.card-text {
  font-size:  13px; /* Tamaño de fuente para el texto del párrafo */
  color: black; /* Color gris oscuro para el texto */
  margin-top: 0; /* Sin margen superior */
  padding: 0; /* Sin padding */
}

/* Estilos individuales para cada card */
.card {
  background-color: #FFC107; /* Color de fondo amarillo para las cards */
  border-radius: 8px; /* Bordes redondeados para darle un aspecto suave */
  padding: 8px; /* Espaciado interno para el contenido dentro de la card */
  text-align: center; /* Centra el texto y otros contenidos dentro de la card */
  width: 175px; /* Ancho máximo para cada card */
  height: 220px; /* Altura fija reducida para las cards */
  display: flex; /* Usa Flexbox para alinear el contenido verticalmente */
  flex-direction: column; /* Organiza los elementos verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  box-sizing: border-box; /* Incluye el padding y los bordes en el ancho total */
}

/* Contenedor principal de las cards */
.card-container,
.card-container2,
.card-container3 {
 margin: 15px;
 max-width: 100%;
}

}
