/* Reiniciar márgenes y rellenos globales */
body, html {
  margin: 0; /* Elimina el margen por defecto del navegador */
  padding: 0; /* Elimina el padding por defecto del navegador */
}

/* Estilos de la barra de navegación */
.Navbar {
  background-color: #212529; /* Color de fondo de la barra de navegación */
  color: white; /* Color del texto en la barra de navegación */
  padding: 10px; /* Espacio interno dentro de la barra de navegación */
  margin: 0; /* Elimina cualquier margen exterior */
  box-sizing: border-box; /* Asegura que el padding no añada más al ancho total */
}

.Navbar nav {
  display: flex; /* Usa Flexbox para organizar los elementos en una fila */
  align-items: center; /* Alinea verticalmente todos los elementos */
  justify-content: space-between; /* Espacia los elementos dentro del nav, distribuyéndolos equitativamente */
}

.Navbar .logo-container {
  padding-left: 50px; /* Espacio a la izquierda del contenedor del logo */
  display: flex; /* Usa Flexbox para alinear el logo y el texto */
  align-items: center; /* Alinea verticalmente el logo y el texto */
}

.Navbar img {
  height: 80px; /* Ajusta la altura de la imagen del logo */
}

.Navbar .logo-text {
  font-family: Arial, Helvetica, sans-serif; /* Tipo de letra del texto del logo */
  font-size: 20px; /* Tamaño de letra del texto del logo */
  margin-left: 20px; /* Espacio entre el logo y el texto */
  font-weight: bold; /* Texto en negrita */
  color: white; /* Color del texto del logo */
}

.Navbar ul {
  list-style-type: none; /* Elimina los puntos de lista */
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  display: flex; /* Usa Flexbox para organizar los elementos de la lista en una fila */
  align-items: center; /* Alinea verticalmente los elementos de la lista */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}

.Navbar li {
  margin-right: 15px; /* Espacio entre los elementos de la lista */
}

.Navbar a {
  text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
  color: white; /* Color de texto por defecto para los enlaces */
  transition: all 0.3s ease; /* Transición suave para cambios en tamaño y color */
}

.Navbar a:hover {
  text-decoration: underline; /* Subrayado en el hover (cuando el mouse pasa sobre el enlace) */
  color: #ffc107; /* Cambia el color al pasar el cursor */
  font-size: 1.2em; /* Aumenta el tamaño del texto en el hover */
}

.Search-box {
  display: flex; /* Usa Flexbox para alinear los elementos dentro de la caja de búsqueda */
  align-items: center; /* Alinea verticalmente el input de búsqueda */
  margin-right: 30px; /* Espacio a la derecha de la caja de búsqueda */
}

.Search-box input {
  padding: 5px; /* Espaciado interno dentro del input */
  border: none; /* Elimina el borde por defecto del input */
  border-radius: 5px; /* Bordes redondeados para el input */
  outline: none; /* Elimina el contorno del input al hacer clic */
}

/* Botón del menú para pantallas pequeñas */
.Navbar .menu-button {
  background: none; /* Sin fondo para el botón */
  border: none; /* Sin borde para el botón */
  color: white; /* Color del texto del botón */
  font-size: 30px; /* Tamaño de la fuente del botón */
  cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
  display: none; /* Oculta el botón por defecto */
}

/* Estilos responsive para pantallas pequeñas tablet */

@media (max-width: 1000px) {
  .Navbar .menu-button {
    display: block; /* Muestra el botón en pantallas pequeñas */
  }

  .Navbar ul {
    font-size: 17px;
    display: none; /* Oculta el menú de navegación por defecto en pantallas pequeñas */
    flex-direction: column; /* Coloca los elementos del menú en una columna */
    align-items: center; /* Centra los elementos del menú */
    width: 100%; /* El menú ocupa todo el ancho del contenedor */
    margin-top: 10px; /* Espacio superior entre el botón y el menú */
  }

  .Navbar .logo-text {
    font-family: Arial, Helvetica, sans-serif; /* Tipo de letra del texto del logo */
    font-size: 17px; /* Tamaño de letra del texto del logo */
    text-align: center;
  }

  .Navbar ul.show-menu {
    display: flex; /* Muestra el menú cuando tiene la clase show-menu */
  }

  .Navbar li {
    margin: 10px 0; /* Espacio vertical entre los elementos del menú */
  }

  .Search-box {
    display: none; /* Oculta la caja de búsqueda en pantallas pequeñas */
  }
}


/* Estilos responsive para pantallas pequeñas celular */

@media (max-width: 600px) {
  .Navbar .menu-button {
    display: block; /* Muestra el botón en pantallas pequeñas */
  }

  .Navbar .logo-text {
    font-family: Arial, Helvetica, sans-serif; /* Tipo de letra del texto del logo */
    font-size: 15px; /* Tamaño de letra del texto del logo */
    text-align: center;
   
  }

  .Navbar ul {
    display: none; /* Oculta el menú de navegación por defecto en pantallas pequeñas */
    flex-direction: column; /* Coloca los elementos del menú en una columna */
    align-items: center; /* Centra los elementos del menú */
    width: 100%; /* El menú ocupa todo el ancho del contenedor */
    margin-top: 10px; /* Espacio superior entre el botón y el menú */
    font-size: 15px;
  }

  .Navbar ul.show-menu {
    display: flex; /* Muestra el menú cuando tiene la clase show-menu */
  }

  .Navbar li {
    margin: 10px 0; /* Espacio vertical entre los elementos del menú */
  }

  .Search-box {
    display: none; /* Oculta la caja de búsqueda en pantallas pequeñas */
  }
}

/* Botón del menú para pantallas pequeñas */
.Navbar .menu-button {
  padding-left: 70px;
}